body {
    background-image: var(--bgi-url);
    background-size: cover;
    background-repeat: no-repeat;
}

body:has(.main > .hero-article) {
    --bgi-url: url('/src/assets/home/background-home-mobile.jpg');
}

body:has(.main > .destinations-article) {
    --bgi-url: url('/src/assets/destination/background-destination-mobile.jpg');
}

body:has(.main > .crews-article) {
    --bgi-url: url('/src/assets/crew/background-crew-mobile.jpg');
}

body:has(.main > .technology-article) {
    --bgi-url: url('/src/assets/technology/background-technology-mobile.jpg');
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 100dvw;

}

.nav-item::after {
    display: block;
    background-color: var(--bgc-color, transparent);
    content: '';
    height: 2px;
    width: 100%;
    transform: translate3d(var(--translate-X, 0%), 0, 0);
    scale: var(--scale-X, 0.6) 1;
    transition: background-color 100ms linear var(--trs-delay, 0ms), transform 300ms ease-in-out var(--trf-delay, 0ms),
    scale 200ms linear var(--scale-delay, 0ms);
}

.nav-item:has(> a.active) {
    --bgc-color: var(--white);
    --scale-X: 1;
}
header.header nav ul > li,
article.destinations-article .dest-container nav ul li {
    display: flex;
}


header.header .menu-btn + nav.main-nav ul > .nav-item:after {
    height: inherit;
    width: 3.758px;
    margin-left: auto;
    transform: translate3d(0, var(--translate-Y, 0), 0) scaleY(var(--scale-Y, 0));
}

header.header .menu-btn + nav.main-nav ul > .nav-item:has(> a.active) {
    --translate-Y: 0%;
    --scale-Y: 1;
}

nav:not(.menu-btn + .main-nav) > ul {
    display: flex;
}

main > article > div:has( > .err-container) {
    display: block;
}

main > article > div:has( > .err-container) > nav {
    display: none;
}


/*Header Styles*/
.header {
    position: relative;
    display: flex;
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.logo {
    height: 40px;
    width: 40px;
}

.header a .line {
    display: none;
}

.menu-btn {
    display: flex;
    position: relative;
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 35px;
    height: fit-content;
    padding: 0;
}

.line {
    fill: none;
    stroke: #D0D6F9;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.menu-btn.open .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.menu-btn.open .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.menu-btn.open .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.menu-btn + .main-nav::before,
.main-nav {
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    background: rgba(255, 255, 255, 0.04);
}

.menu-btn + .main-nav::before {
    content: '';
    z-index: -100;
}

.menu-btn + .main-nav::before,
.menu-btn + .main-nav {
    position: absolute;
}

.menu-btn + .main-nav {
    z-index: 99;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100dvh;
    width: 0;
    transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn + .main-nav.open {
    width: 255px;
}

.menu-btn + .main-nav ul {
    height: 100%;
    padding: 2em 0 2em 2em;
    margin-block-start: 8.313em;
}

.main-nav ul li {
    margin-bottom: 1.65em;
}

.main-nav ul li a {
    display: flex;
    align-items: center;
    gap: .7em;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    width: 100%;
    height: 100%;
}

/*main*/
.main {
    display: flex;
    align-items: start;
    height: fit-content;
    width: 100%;
    padding-inline: 1.5em;
}

.main > article {
    align-self: start;
    text-align: center;
    width: min(100%, 1110px);
    margin: 0 auto;
}

.main > article > div {
    display: grid;
}

.main > article > div,
.main > article > section.hero-section {
    --content-width: min(100%, 512px);
    width: var(--content-width);
    margin: 0 auto;

}

.main > article > header h1 {
    color: var(--white);
    font-size: 1.188rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1.263em;

}

.main > article > header h1 span.grey-txt {
    font-size: inherit;
    margin-right: 1.263em;
}

/*Hero section*/
.hero-article > * {
    justify-self: center;
}

.hero-article section h1 {
    font-size: clamp(1.125rem, -0.7659rem + 9.4545vw, 1.45rem);
    text-transform: uppercase;
    font-weight: 400;
}

.hero-article section h1 .heading-lg {
    font-size: clamp(4.0625rem, 1.1678rem + 14.4737vw, 7.5rem);
    margin-block: .153em;
    color: var(--white);
}

.hero-article section p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.hero-article a,
.hero-article a::before {
    width: clamp(9rem, 2.2632rem + 33.6842vw, 17rem);
    height: clamp(9rem, 2.2632rem + 33.6842vw, 17rem);
    background-color: var(--white);
    border-radius: 50%;
}

.hero-article a {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    font-size: clamp(1.375rem, 1.2171rem + 0.7895vw, 1.5625rem);
    color: var(--blue-900);
    text-transform: uppercase;

    margin: 7.438em auto;
}


/*destinations*/
.destinations-article .dest-container {
    align-items: center;
    justify-content: space-between;
    min-width: 270px;
}

.destinations-article .dest-container nav {
    margin-bottom: 1em;
}

.destinations-article .dest-container nav ul {
    justify-content: center;
    gap: 2em;
}

.destinations-article .dest-container nav ul li {
    flex-direction: column;
    gap: 1em;
}

.destinations-article .dest-container nav ul li a {
    font-size: .875rem;
    height: inherit;
}

.destinations-article .dest-container .dest-content--skeleton {
    width: calc(100dvw - 48px);
}

.destinations-article .dest-container article h2 {
    color: var(--white);
    font-size: clamp(4.5rem, 3.6579rem + 4.2105vw, 5.5rem);
    text-transform: uppercase;
}

.destinations-article .dest-container article > .description {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    gap: 1.225em;
    margin-bottom: 1.225em;
}

.destinations-article .dest-container article > .description::after {
    display: block;
    content: '';
    background-color: #979797;
    opacity: .25;
    height: 1.5px;
    width: 100%;
}

.destinations-article .dest-container article > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinations-article .dest-container article > div p {
    color: var(--white);
    text-transform: uppercase;
}

.destinations-article .dest-container article > div p:first-child {
    font-size: .875rem;
    margin-bottom: 0.857em;
}

.destinations-article .dest-container article > div p:last-child {
    font-size: 1.75rem;
}

.destinations-article .dest-container article > div div p:last-child {
    margin-bottom: 0.857em;
}

.destinations-article .dest-container figure {
    order: -1;
    width: 35vmin;
    height: 35vmin;
    margin: auto auto 2em auto;
}

/*crews article*/
.crews-article .crew-container {
    padding-block-start: 1.813em;
}

.crews-article .crew-container nav {
    margin: 0 auto 2em auto;
}

.crews-article .crew-container nav ul {
    gap: 1.85em;
}

.crews-article .crew-container nav ul .dot {
    height: 1em;
    width: 1em;
    background-color: #979797;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.crews-article .crew-container .crew-content {
    order: -1;
    width: min(100%, 512px);
    margin: 0 auto 1.25em;
}

.crews-article .crew-container .crew-content header h1 {
    font-size: clamp(1.3125rem, 1.0268rem + 1.4286vw, 2.3125rem);
    margin-bottom: 0.381em;
}

.crews-article .crew-container .crew-content header h2 {
    font-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
    margin-bottom: 0.857em;
    color: var(--white);
}

.crews-article .crew-container .crew-content .bio {
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 2.5em;
}

.crews-article .crew-container figure {
    position: relative;
    min-width: 271px;
    min-height: 300px;
    width: min(100%, 304px);
    height: min(100%, 363px);
    margin: 0 auto;
}

.crews-article .crew-container .crew-content--skeleton + figure::after {
    display: none;
}

.crews-article .crew-container figure::after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--blue-900);
    width: 100%;
    height: 30px;
    bottom: -1em;
    left: 0;
    filter: blur(6px);
}

.crews-article .crew-container figure img {
    width: inherit;
    height: inherit;
    max-height: inherit;
}

/*Technology*/
.technology-article .tech-container nav ul {
    gap: 1em;
    justify-content: center;
    margin-bottom: 2.5em;
}

.technology-article .tech-container nav ul li a {
    --nav-size: 2.5em;
    display: flex;
    align-items: center;
    place-content: center;
    color: var(--white);
    height: var(--nav-size);
    width: var(--nav-size);
    border: 2px solid #979797;
    border-radius: 50%;
    transition: color 0.6s ease-in-out, border 0.6s ease-in-out, background-color 0.6s ease-in-out;
}


.technology-article .tech-container > .tech-content header h1 {
    font-size: clamp(1.3125rem, 1.0268rem + 1.4286vw, 2.3125rem);
    margin-bottom: 0.762em;
}

.technology-article .tech-container > .tech-content header h2 {
    font-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
    margin-bottom: .511em;
    color: var(--white);
}

.technology-article .tech-container > .tech-content p {
    font-size: 1.125rem;
    margin-bottom: 2.875em;
}

.technology-article .tech-container figure {
    --parent-padding: 1.5em;
    order: -1;
    width: calc(100% + (var(--parent-padding) * 2));
    padding-block-start: 4em;
    height: 322px;
    margin-bottom: 2em;
    overflow: hidden;
    margin-left: calc(-1 * var(--parent-padding));
}

.technology-article .tech-container figure picture {
    display: inline-block;
    width: inherit;
    height: inherit;
}

.technology-article .tech-container figure picture img {
    object-fit: fill;
    width: inherit;
    height: inherit;
}

/* error styles*/
main.main:has(article > div > div.err-container) article > div {
    padding: 0;
    min-width: 100%;
}

main.main article > div > div.err-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 1em;
    padding-block: 5em;
}

main.main article > div > div.err-container h1 {
    margin-bottom: .85em;
}

main.main article > div > div.err-container figure {
    min-width: 30vmin;
    min-height: 30vmin;
    width: 30vmin;
    height: 30vmin;
    margin: 0 0 2em 0;
    padding: 0;
}

main.main article > div > div.err-container figure::after {
    display: none;
}

main.main article > div > div.err-container img {
    width: inherit;
}

@media only screen and (min-width: 768px) {
    body:has(.main > .hero-article) {
        --bgi-url: url('/src/assets/home/background-home-tablet.jpg');
    }

    body:has(.main > .destinations-article) {
        --bgi-url: url('/src/assets/destination/background-destination-tablet.jpg');
    }

    body:has(.main > .crews-article) {
        --bgi-url: url('/src/assets/crew/background-crew-tablet.jpg');
    }

    body:has(.main > .technology-article) {
        --bgi-url: url('/src/assets/technology/background-technology-tablet.jpg');
    }

    #root {
        min-width: fit-content;
    }

    .header {
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .header > a {
        padding: 0 2.5em;
    }

    .logo {
        width: 48px;
        height: 48px;
    }

    .main-nav {
        width: 100%;
        height: 96px;
        max-width: 640px;
    }

    .main-nav ul {
        gap: 2.67em;
        align-items: center;
        justify-content: end;
        height: 100%;
        padding: 0;
        padding-inline-end: 2em;

    }

    .main-nav ul li {
        flex-direction: column;
        margin: 0;
        height: 100%;
    }

    .main-nav ul li a {
        font-size: .875rem;
        height: inherit;
    }

    .main-nav ul li:has(> a.nav-link--active) {
        height: inherit;
        align-items: center;
    }

    .main {
        padding: 2.5em;
    }

    .main > article > header {
        text-align: left;
    }

    .main > article > header h1 {
        font-size: 1.5rem;
        margin-bottom: 1.867em;
    }

    .main > article.hero-article {
        padding-block: 8em;
    }

    .hero-article section {
        align-self: center;
    }

    .hero-article a {
        margin: 4em 0;
    }

    .destinations-article .dest-container nav ul li a {
        font-size: 1rem;
    }

    .destinations-article .dest-container .dest-content--skeleton {
        width: 512px;
    }

    .destinations-article .dest-container article h2 {
        margin-bottom: .25em;
    }

    .destinations-article .dest-container article > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 1em;
    }

    .destinations-article .dest-container figure {
        width: 40vmin;
        height: 40vmin;
    }

    .crews-article .crew-container figure {
        width: 446px;
        height: 560px;
        margin-bottom: -2.5em;
    }

    .crews-article .crew-container figure::after {
        display: none;
    }

    .technology-article .tech-container nav ul li a {
        --nav-size: 3.5em;
    }

    .technology-article .tech-container {
        width: 100%;
    }

    .technology-article .tech-container .tech-content {
        width: 512px;
        margin: 0 auto;
    }

    .technology-article .tech-container figure {
        --parent-padding: 2.5em;
        height: 420px;
    }

    .technology-article .tech-container figure img {
        height: 360px;
    }
}

@media only screen and (min-width: 1024px) {
    body:has(.main > .hero-article) {
        --bgi-url: url('/src/assets/home/background-home-desktop.jpg');
    }

    body:has(.main > .destinations-article) {
        --bgi-url: url('/src/assets/destination/background-destination-desktop.jpg');
    }

    body:has(.main > .crews-article) {
        --bgi-url: url('/src/assets/crew/background-crew-desktop.jpg');
    }

    body:has(.main > .technology-article) {
        --bgi-url: url('/src/assets/technology/background-technology-desktop.jpg');
    }

    img {
        pointer-events: none;
    }

    .nav-item:has(> a.active) + li,
    .nav-item:has(+ li > a.active) {
        --trf-delay: 0ms;
        --trs-delay: 0ms;
        --bgc-color: transparent;
        --scale-X: 0.5;
    }

    .nav-item:has(+ li > a.active):hover,
    .nav-item:has(> a.active) + li:hover {
        --bgc-color: var(--white);
        --translate-X: 0%;
        --scale-X: 1;
    }


    .nav-item:hover + li:has(> a.active),
    .nav-item:has(+ li:hover):has(> a.active) {
        --trs-delay: 200ms;
        --bgc-color: transparent;
        --scale-delay: 125ms;
        --scale-X: 0.5;
    }

    .nav-item:has(+ li:hover):has(> a.active),
    .nav-item:has(+ li > a.active) {
        --translate-X: 150%;
    }

    .nav-item:hover + li:has(> a.active),
    .nav-item:has(> a.active) + li {
        --translate-X: -150%;
    }

    .nav-item:has(> a:not(.active)):hover {
        --bgc-color: #979797;
    }

    .header {
        padding-block-start: 2.5em;
        margin: 0;
    }

    .header-logo {
        position: absolute;
        display: flex;
        gap: 4em;
        align-items: center;
        width: calc(100% - 736px + 30px);
    }

    .header a .line {
        display: block;
        width: 100%;
        height: 1px;
        opacity: .25;
        background-color: #979797;
        left: 10em;
        z-index: 100;
    }

    .header a {
        padding: 0;
        padding-inline-start: 4em;
    }

    .main-nav {
        margin-left: auto;
        max-width: 736px;
    }

    .main-nav ul {
        padding-inline-end: 4em;
    }

    .main-nav ul li a {
        padding: 0;
    }

    .main {
        padding: 2.5em 5em;
    }

    .main:has(> .technology-article) {
        padding: 3em 0;
    }

    .main > article {
        text-align: left;
    }

    .main > article > div {
        width: fit-content;
    }

    .main > article > header h1 {
        margin-bottom: 1em;
    }

    .main > article.hero-article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 0;
    }

    .main > article.technology-article {
        margin: 0 0 0 auto;
        width: min(90%, 1275px);

    }

    .main > article.hero-article section {
        width: 540px;
        margin: 0;
    }

    .hero-article a::before {
        --trs-duration: 400ms;
        position: absolute;
        content: '';
        z-index: -1;
        scale: var(--scale-size, 1);
        opacity: var(--_op, 0);
        transition: scale var(--trs-duration) cubic-bezier(0.4, 0, 0.2, 1), opacity var(--trs-duration) ease-in-out;
    }

    .hero-article a:hover::before {
        --scale-size: 1.44;
        --_op: 0.15;
    }

    .hero-article a:hover {
        color: #979797;
    }

    .destinations-article .dest-container {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-template-rows: 3.5em 1fr;
        column-gap: 2em;
        margin: 0;
        padding: 2.5em 0;
        min-width: 420px;
    }

    .destinations-article .dest-container nav,
    .destinations-article .dest-container .dest-content {
        padding-inline: 2.938em;
    }

    .destinations-article .dest-container nav {
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
    }

    .destinations-article .dest-container nav ul li:hover a {
        color: var(--white);
    }

    .destinations-article .dest-container .dest-content {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .destinations-article .dest-container .dest-content--skeleton {
        width: calc((1100px / 2) - (94px + 2em));
    }

    .destinations-article .dest-container article > div div p:last-child {
        margin-bottom: 0;
    }

    .destinations-article .dest-container figure {
        width: min(57vmin, 480px);
        height: min(57vmin, 480px);
        grid-column: span 1;
        grid-row: span 2;
        margin-bottom: 0;
    }

    .crews-article .crew-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: minmax(450px, 4fr) 63px;
        width: 100%;
    }

    .crews-article .crew-container nav {
        grid-column: 1 / 2;
        align-self: start;
        margin: 0;
    }

    .crews-article .crew-container nav ul {
        gap: 2.5em;
    }

    .crews-article .crew-container nav ul .dot:hover:not(.active) {
        opacity: 0.5;
        transition: opacity 200ms ease-in-out;
    }

    .crews-article .crew-container {
        column-gap: 2em;
        row-gap: 2.5em;
        padding: 0;
        align-items: center;
        place-content: center;
    }

    .crews-article .crew-container .crew-content,
    .crews-article .crew-container .crew-content .bio {
        margin: 0;
    }

    .crews-article .crew-container .crew-content {
        width: 100%;
        align-self: center;
    }

    .crews-article .crew-container .crew-content header h2 {
        margin-bottom: .435em;
    }

    .crews-article .crew-container .crew-content--skeleton + figure {
        width: 400px;
        height: 550px;
    }

    .crews-article .crew-container figure {
        position: relative;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        min-height: 400px;
        width: min(100%, 605px);
        height: min-content;
        max-height: 625px;
        margin-bottom: 0;
    }

    .crews-article .crew-container figure::after {
        display: block;
    }

    .technology-article .tech-container {
        grid-template-columns: 80px repeat(2, minmax(300px, 1fr));
        grid-template-rows: minmax(400px, 1fr);
        column-gap: 2em;
        align-items: center;
        justify-content: end;
        padding-block: 4.188em;
        margin-left: auto;
    }

    .technology-article .tech-container nav ul {
        flex-direction: column;
        gap: 2em;
    }

    .technology-article .tech-container nav ul li a {
        font-size: 1.225rem;
        --nav-size: 4.35em;
    }

    .technology-article .tech-container nav ul li a:hover:not(.active) {
        border-color: var(--white);
    }

    .technology-article .tech-container .tech-content {
        --article-width: min(100%, 491px);
        width: var(--article-width);
        margin-top: -3em;
    }

    .technology-article .tech-container > .tech-content p {
        margin-bottom: 0;
    }

    .technology-article .tech-container figure {
        --img-width: min(100%, 608px);
        --parent-padding: 0em;
        width: var(--img-width);
        height: min(100%, 600px);
        padding-block: 0;
        margin-bottom: 0;
        order: 0;
    }

    .technology-article .tech-container figure img {
        height: inherit;
    }

    main.main article > div > div.err-container {
        padding-block: 2em;
    }
}

.fade {
    animation: fade 350ms linear;
}

@keyframes fade {
    from {
        opacity: .25;
        scale: .9 .9;
    }
    to {
        opacity: 1;
        scale: 1 1;

    }
}

