body {
    background-image: var(--bgi-url);
    background-size: cover;
    background-repeat: no-repeat;
}

body:has(.main > .hero-article) {
    --bgi-url: url('/src/assets/home/background-home-mobile.jpg');
}

body:has(.main > .destinations-article) {
    --bgi-url: url('/src/assets/destination/background-destination-mobile.jpg');
}

body:has(.main > .crews-article) {
    --bgi-url: url('/src/assets/crew/background-crew-mobile.jpg');
}

body:has(.main > .technology-article) {
    --bgi-url: url('/src/assets/technology/background-technology-mobile.jpg');
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*Header Styles*/
.header {
    position: relative;
    display: flex;
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.logo {
    height: 40px;
    width: 40px;
}

.line {
    display: none;
}

.menu-btn {
    position: relative;
    z-index: 100;
    width: 26px;
    height: 21px;
    padding: 0.6em 1.2em;
    border: transparent;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.menu-btn:hover {
    outline: transparent;
}

.menu-btn span {
    display: inline-block;
    position: absolute;
    height: 3.34px;
    width: 15px;
    background: #D0D6F9;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn span:nth-child(even) {
    left: 40%;
}

.menu-btn span:nth-child(odd) {
    left: 0;
}

.menu-btn span:nth-child(1), .menu-btn span:nth-child(2) {
    top: 0;
}

.menu-btn span:nth-child(3), .menu-btn span:nth-child(4) {
    top: 9px;
}

.menu-btn span:nth-child(5), .menu-btn span:nth-child(6) {
    top: 18px;
}

.menu-btn.open span:nth-child(1), .menu-btn.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn.open span:nth-child(2), .menu-btn.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-btn.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

.menu-btn.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

.menu-btn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menu-btn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menu-btn.open span:nth-child(5) {
    left: 5px;
    top: 13px;
}

.menu-btn.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 13px;
}


.menu-btn + .main-nav::before,
.main-nav {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(80px);
    background: rgba(255, 255, 255, 0.04);
}

.menu-btn + .main-nav::before {
    content: '';
    z-index: -100;
    inset: 0;
}

.menu-btn + .main-nav::before,
.menu-btn + .main-nav {
    position: absolute;
}

.menu-btn + .main-nav {
    z-index: 99;
    top: 0;
    width: 0;
    max-width: 0;
    right: 0;
    overflow: hidden;
    height: 100dvh;
    transition: max-width 700ms cubic-bezier(0.4, 0, 0.2, 1) .25ms;
}

.menu-btn.open + .main-nav {
    width: 256px;
    max-width: 75%;
}

.menu-btn + .main-nav ul {
    padding: 2em 0 2em 2em;
    height: 100%;
    margin-block-start: 8.313em;
}

.menu-btn + .main-nav ul li a {
    opacity: 0;
    transition: opacity .45s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn.open + .main-nav ul li a {
    opacity: 1;
    transition-delay: 150ms;
}

.main-nav ul li {
    display: flex;
    margin-bottom: 1.65em;
}

.main-nav ul li:has(> a.nav-link--active)::after {
    display: inline-block;
    content: '';
    height: inherit;
    width: 3.758px;
    background-color: var(--white);
    justify-self: end;
    margin-left: auto;
}

.main-nav ul li a {
    display: flex;
    align-items: center;
    gap: .7em;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    width: 100%;
    height: 100%;
}

/*main*/
.main {
    display: flex;
    align-items: start;
    height: 100%;
    width: 100%;
    padding-inline: 1.5em;
}

.main > article {
    text-align: center;
    width: min(100%, 1110px);
    margin: 0 auto;

}
.main > article > div{

}
.main > article > header h1 {
    color: var(--white);
    font-size: 1.188rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1.263em;

}

.main > article > header h1 span.grey-txt {
    font-size: inherit;
    margin-right: 1.263em;
}

/*Hero section*/
.hero-article > * {
    justify-self: center;
}

.hero-article section {
    width: min(100%, 512px);
}

.hero-article section h1 {
    font-size: clamp(1.125rem, -0.7659rem + 9.4545vw, 1.45rem);
    text-transform: uppercase;
    font-weight: 400;
}

.hero-article section h1 .heading-lg {
    font-size: clamp(4.0625rem, 1.1678rem + 14.4737vw, 7.5rem);
    margin-block: .153em;
    color: var(--white);
}

.hero-article section p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.hero-article a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(9rem, 2.2632rem + 33.6842vw, 17rem);;
    height: clamp(9rem, 2.2632rem + 33.6842vw, 17rem);;
    background-color: var(--white);
    font-size: clamp(1.375rem, 1.2171rem + 0.7895vw, 1.5625rem);
    color: var(--blue-900);
    text-transform: uppercase;
    border-radius: 50%;
    margin-block: 2.511em;
}

/*destinations*/
.destinations-article .dest-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 512px);
    margin: auto;
}

.destinations-article .dest-container nav {
    margin-bottom: 1em;
}

.destinations-article .dest-container nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.destinations-article .dest-container nav ul li {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.destinations-article .dest-container nav ul li a {
    font-size: .875rem;
    height: 100%;
}

.destinations-article .dest-container nav ul li:has(> a.active)::after {
    display: block;
    content: '';
    background-color: var(--white);
    height: 5px;
    width: 100%;
}


.destinations-article .dest-container article h2 {
    color: var(--white);
    font-size: clamp(4.5rem, 3.6579rem + 4.2105vw, 5.5rem);
    text-transform: uppercase;
}

.destinations-article .dest-container article > p {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    gap: 1.225em;
    margin-bottom: 1.225em;
}

.destinations-article .dest-container article > p::after {
    display: block;
    content: '';
    background-color: #979797;
    opacity: .25;
    height: 1.5px;
    width: 100%;
}

.destinations-article .dest-container article > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinations-article .dest-container article > div p {
    color: var(--white);
    text-transform: uppercase;
}

.destinations-article .dest-container article > div p:first-child {
    font-size: .875rem;
    margin-bottom: 0.857rem;
}

.destinations-article .dest-container article > div p:last-child {
    font-size: 1.75rem;
}

.destinations-article .dest-container article > div div p:last-child {
    margin-bottom: 0.857rem;
}

.destinations-article .dest-container figure {
    order: -1;
    width: 35vmin;
    margin: auto auto 2em auto;
}

/*crews article*/
.crews-article .crew-container {
    display: grid;
    padding: 1.813em 0;
}

.crews-article .crew-container nav {
    margin: 0 auto 2em auto;
}

.crews-article .crew-container nav ul {
    display: flex;
    gap: 1.5em;
}

.crews-article .crew-container nav ul .dot {
    height: clamp(0.625rem, 0.483rem + 0.7102vw, 0.9375rem);
    width: clamp(0.625rem, 0.483rem + 0.7102vw, 0.9375rem);
    background-color: #979797;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.crews-article .crew-container .crew-content {
    order: -1;
    width: min(100%, 512px);
    margin: 0 auto 1.25em;
}

.crews-article .crew-container .crew-content header h1 {
    font-size: clamp(1.3125rem, 1.0268rem + 1.4286vw, 2.3125rem);
    margin-bottom: 0.381em;
}

.crews-article .crew-container .crew-content header h2 {
    font-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
    margin-bottom: 0.857em;
    color: var(--white);
}

.crews-article .crew-container .crew-content p {
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 2.5em;
}

.crews-article .crew-container figure {
    position: relative;
}

.crews-article .crew-container figure::after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--blue-900);
    width: 100%;
    height: 20px;
    bottom: -.25em;
    left: 0;
    filter: blur(5px);


}

.crews-article .crew-container figure img {
    width: min(100%, 420px);
}

/*Technology*/
.technology-article .tech-container {
    display: grid;
}


.technology-article .tech-container nav ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 2.5em;
}

.technology-article .tech-container nav ul li a {
    --nav-size: 2.5em;
    display: flex;
    align-items: center;
    place-content: center;
    color: var(--white);
    height: var(--nav-size);
    width: var(--nav-size);
    border: 1px solid #979797;
    border-radius: 50%;
    transition: color 0.6s ease-in-out, border 0.6s ease-in-out, background-color 0.6s ease-in-out;
}


.technology-article .tech-container > article header h1 {
    font-size: clamp(1.3125rem, 1.0268rem + 1.4286vw, 2.3125rem);
    margin-bottom: 0.762em;
}

.technology-article .tech-container > article header h2 {
    font-size: clamp(1.75rem, 1.2679rem + 2.4107vw, 3.4375rem);
    margin-bottom: .511em;
    color: var(--white);
}

.technology-article .tech-container > article p {
    font-size: 1.125rem;
    margin-bottom: 2.875em;
}

.technology-article .tech-container figure {
    --parent-padding: 1.5em;
    order: -1;
    width: calc(100% + (var(--parent-padding) * 2));
    padding-block-start: 4em;
    height: 322px;
    margin-bottom: 2em;
    margin-left: calc(-1 * var(--parent-padding));
}

.technology-article .tech-container figure img {
    object-fit: fill;
    width: inherit;
}

.fade {
    animation: fade 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (min-width: 768px) {
    body:has(.main > .hero-article) {
        --bgi-url: url('/src/assets/home/background-home-tablet.jpg');
    }

    body:has(.main > .destinations-article) {
        --bgi-url: url('/src/assets/destination/background-destination-tablet.jpg');
    }

    body:has(.main > .crews-article) {
        --bgi-url: url('/src/assets/crew/background-crew-tablet.jpg');
    }

    body:has(.main > .technology-article) {
        --bgi-url: url('/src/assets/technology/background-technology-tablet.jpg');
    }

    .header {
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .header > a {
        padding: 0 2.5em;
    }

    .logo {
        width: 48px;
        height: 48px;
    }

    .main-nav {
        width: min(100%, 640px);
        height: 96px;
    }

    .main-nav ul {
        display: flex;
        gap: 2.67em;

        align-items: center;
        justify-content: end;
        height: 100%;
        padding: 0;
        padding-inline-end: 2em;

    }

    .main-nav ul li {
        flex-direction: column;
        margin: 0;
    }

    .main-nav ul li a {
        font-size: .875rem;

    }

    .main-nav ul li:has(> a.nav-link--active) {
        height: inherit;
        align-items: center;
    }

    .main-nav ul li:has(> a.nav-link--active)::after {
        width: 100%;
        height: 3px;
    }

    .main {
        padding: 2.5em;
    }

    .main > article > header {
        text-align: left;
    }

    .main > article > header h1 {
        font-size: 1.5rem;
        margin-bottom: 1.867em;
    }

    .main > article.hero-article {
        margin-block: calc(8em - 80px);
    }

    .hero-article section {
        align-self: center;
    }

    .destinations-article .dest-container nav ul li a {
        font-size: 1rem;
    }

    .destinations-article .dest-container article h2 {
        margin-bottom: .25em;
    }

    .destinations-article .dest-container article > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .technology-article .tech-container nav ul li a {
        --nav-size: 3.5em;
    }

    .technology-article .tech-container article {
        width: 512px;
        margin: 0 auto;
    }

    .technology-article .tech-container figure {
        --parent-padding: 2.5em;
        height: 420px;
    }
}

@media only screen and (min-width: 1024px) {
    body:has(.main > .hero-article) {
        --bgi-url: url('/src/assets/home/background-home-desktop.jpg');
    }

    body:has(.main > .destinations-article) {
        --bgi-url: url('/src/assets/destination/background-destination-desktop.jpg');
    }

    body:has(.main > .crews-article) {
        --bgi-url: url('/src/assets/crew/background-crew-desktop.jpg');
    }

    body:has(.main > .technology-article) {
        --bgi-url: url('/src/assets/technology/background-technology-desktop.jpg');
    }

    .header {
        padding-block-start: 2.5em;
        margin: 0;
    }

    .header-logo {
        position: absolute;
        display: flex;
        gap: 4em;
        align-items: center;
        width: calc(100% - 736px + 30px);
    }

    .line {
        display: block;
        width: 100%;
        height: 1px;
        opacity: .25;
        background-color: #979797;
        left: 10em;
        z-index: 100;
    }

    .header a {
        padding: 0;
        padding-inline-start: 4em;
    }

    .main-nav {
        width: min(100%, 736px);
        margin-left: auto;
    }

    .main-nav ul {
        padding-inline-end: 4em;
    }

    .main-nav ul li a {
        padding: 0;
    }

    .main {
        padding: 2.5em 5em;
    }

    .main:has(> .technology-article) {
        padding: 3em 0;
    }

    .main > article {
        text-align: left;
    }

    .main > article > header h1 {
        margin-bottom: 1em;
    }

    .hero-article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block-start: 3.5em;
    }

    .destinations-article {
        align-self: start;
        margin: 0 auto;
    }

    .destinations-article .dest-container {
        width: fit-content;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: 3.5em 1fr;
        column-gap: 2em;
        margin: 0;
        padding: 2.5em 0;
    }

    .destinations-article .dest-container nav {
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
    }

    .destinations-article .dest-container nav,
    .destinations-article .dest-container .dest-content {
        padding-inline: 2.938em;
    }

    .destinations-article .dest-container .dest-content {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .destinations-article .dest-container article > div div p:last-child {
        margin-bottom: 0;
    }

    .destinations-article .dest-container figure {
        width: 480px;
        grid-column: span 1;
        grid-row: span 2;
        margin-bottom: 0;
    }

    .crews-article .crew-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: minmax(450px, 4fr) 63px;
    }

    .crews-article .crew-container nav {
        grid-column: 1 / 2;
        align-self: start;
        margin: 0;
    }

    .crews-article .crew-container nav ul {
        gap: 2.5em;
    }

    .crews-article .crew-container {
        column-gap: 2em;
        row-gap: 2.5em;
        padding: 0;
        align-items: center;
        place-content: center;
    }

    .crews-article .crew-container .crew-content,
    .crews-article .crew-container .crew-content p {
        margin: 0;
    }

    .crews-article .crew-container .crew-content {
        width: 100%;
        align-self: center;
    }

    .crews-article .crew-container .crew-content header h2 {
        margin-bottom: .435em;
    }

    .crews-article .crew-container figure {
        position: relative;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .crews-article .crew-container figure img {
        width: min(100%, 500px);
    }

    .technology-article {
        margin: 0 0 0 auto;
        width: min(90%, 1275px);

    }

    .technology-article .tech-container {
        grid-template-columns: 80px repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: minmax(400px, 1fr);
        column-gap: 2em;
        align-items: center;
        justify-content: end;
        margin-left: auto;
        height: fit-content;
    }

    .technology-article .tech-container nav ul {
        flex-direction: column;
        gap: 2em;
    }

    .technology-article .tech-container nav ul li a {
        --nav-size: 5em;
    }

    .technology-article .tech-container article {
        --article-width: min(100%, 491px);
        width: var(--article-width);
        margin-top: -3em;
    }

    .technology-article .tech-container > article p {
        margin-bottom: 0;
    }

    .technology-article .tech-container figure {
        --img-width: min(100%, 605px);
        --parent-padding: 0em;
        width: var(--img-width);
        height: min(100%, 600px);
        padding-block: 4.188em;
        margin-bottom: 0;
        order: 0;
    }
}
